<header>
    <nav>
        <a href="/">Mylibrary</a>
        <ul>
            <li><a href="/authors">Authors</a></li>
            <li><a href="/authors/new">Add Authorss</a></li>
        </ul>
    </nav>
</header>