.form-row{
    display: flex;
    margin-bottom: .5rem;
}

.form-row-end{
    justify-content: flex-end;
}

.form-item{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    flex-grow: 1;
    flex-basis: 0;
}

.form-item-no-grow{
    flex-grow: 0;
}

.form-item > label {
    font-size: 1.2rem;
    margin-top: .25rem;
    margin-bottom: .25rem;
}

.form-item input, .form-item select, .form-item textarea {
    height: 2rem;
    padding: .25rem .5rem;
    border-radius: .25rem;
    border: 1px solid hsl(279, 100%, 50%);
    background-color: hsl(279, 100%, 37%);
    color: hsl(258, 100%, 87%);
    font-size: 1rem;
    font-weight: normal;
    font-family: 'Gotham Rounded';
    outline: none;
    text-decoration: none;
}

.form-item textarea{
    height: 100%;
    resize: none;
}

.form-item select option{
    background-color: black;
}

.filepond--root{
    font-family: 'Gotham Rounded';
    margin-bottom: 0;
}

.filepond--panel-root{
    border: 1px solid hsl(279, 100%, 50%);
    background-color: hsl(279, 100%, 37%);
}

.filepond--drop-label{
    color: var(--color-text-light);
    font-size: inherit;
}

.form-item input:focus, .form-item select:focus, .form-item textarea:focus{
    border-color: hsl(279, 100%, 85%);
}

